.App {
  background-color: black;
  background-image: url(./Icons/photo_2023-01-08_20-16-47.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
}

.appWrapper {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
